@import "_vars.scss";
html{
    font-size: 65%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(../media/glitch-2463372_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    backdrop-filter: grayscale(.8);
}

.head{
    position: relative;
    height: 98vh;
   

    background-image: url(../media/pripyat-1366156_1280.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    @include phone{clip-path: ellipse(150% 95% at 40% 5%);}
    @include desktop{clip-path: ellipse(210vh 85vh at 20% 9%);}
    
    .text-h{
        transform: translate(0%, 50%);
        text-align: center;
        font-size: 13rem;
        font-weight: bolder;
        font-family: 'Amatic SC', cursive;
        @include phone{font-size: 17rem;}
        animation-name: niles;
        animation-duration: 3s;
        }
}
.body1{
    position: relative;
    height: 150vh;
    margin-top: 20rem;
    background-image: url(../media/crane-3365971_1920.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    @include phone {
        clip-path: circle(100.6% at 84% 100%);
    }
    @include desktop{
        clip-path: ellipse(100% 90% at 90% 90%);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    
    .infobox1{
        
        @include phone{margin-top: 20vh;}
        @include desktop{margin-top: 10vh;}
        max-height: 60%;
        max-width: 65%;
        border-radius: 5px;
        border: 7px dotted orange;
        text-align: center;
        background-color: #ca952394;
        .about_head{
            font-weight: bolder;
            font-size: 6vh;
        }
        .about_text{
            @include phone{font-size: 1.5vh;}
            @include desktop{font-size: 3vh;}
        }
    }
    .infobox2{
        display: flex;
        justify-content: space-evenly;
        
    }
}
    


@keyframes shrink{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(.8);

    }
    50%{
        transform: scale(.5);

    }
    75%{
        transform: scale(.3);
    }
    100%{
        transform: scale(0);
    }

}

@keyframes niles{
    0%{
        opacity: 0;
    }
   
    
    100%{
        opacity: 1;
        
    }
}

